@model C__and_Project.Models.Lecturer

@{
    ViewData["Title"] = "Add Lecturer";
}

<h1>Add New Lecturer</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group py-2">
        <label asp-for="LecturerNumber"></label>
        <input asp-for="LecturerNumber" class="form-control" />
        <span asp-validation-for="LecturerNumber" class="text-danger"></span>
    </div>

    <div class="form-group py-2">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group py-2">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group py-2">
        <label asp-for="Room"></label>
        <input asp-for="Room" type="number" class="form-control" />
        <span asp-validation-for="Room" class="text-danger"></span>
    </div>

    <div class="form-group py-2">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" type="number" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group py-2">
        <label asp-for="DateofBirth"></label>
        <input asp-for="DateofBirth" type="date" class="form-control" />
        <span asp-validation-for="DateofBirth" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Back to Lecturer Page</a>
