@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Room

<h2>Create Room</h2>
<form asp-action="Create">
    <label>Room Type</label>
    <select asp-for="TypeRoom">
        <option value="Single">Single</option>
        <option value="Dormitory">Dormitory</option>
    </select><br />
    <label>Room ID</label>
    <input type="number" asp-for="RoomID" required /><br />

    <label>Capacity</label>
    <input type="number" asp-for="Capacity" required /><br />

    <label>Room Number</label>
    <input type="text" asp-for="RoomNumber" required />


    <span asp-validation-for="RoomID" class="text-danger"></span><br />
    <span asp-validation-for="Capacity" class="text-danger"></span>



    <button type="submit">Create</button>
</form>
<a href="@Url.Action("Index", "Room")">Back to List</a>